#######################################################################################
# A default configuration that will be loaded for all jupyter books
# See the documentation for help and more options: 
# https://jupyterbook.org/customize/config.html

#######################################################################################
# Book settings
title                       : IDP Handbook  # The title of the book. Will be placed in the left navbar.
author                      : Deltares  # The author of the book
copyright                   : "2025"  # Copyright year to be placed in the footer
logo                        : logo_temp.png  # A path to the book logo
only_build_toc_files        : true

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: off

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Information about where the book exists on the web
repository:
  url: https://deltares-research.github.io/IDP-handbook  # Online location of your book
  path_to_book: idp-handbook  # Optional path to your book, relative to the repository root
  branch: main  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true
  analytics:
    plausible_analytics_domain: ""
    plausible_analytics_url: "https://plausible.io/js/script.js"
    google_analytics_id       : ""  # A GA id that can be used to track book views.

# Launch button settings
launch_buttons:
  notebook_interface: classic  # The interface interactive links will activate ["classic", "jupyterlab"]
  binderhub_url: https://mybinder.org # The URL of the BinderHub (e.g., https://mybinder.org)
  jupyterhub_url: "https://jupyter-hub.deltares.nl" # The URL of the JupyterHub (e.g., https://datahub.berkeley.edu)
  thebe: true  # Whether to enable Thebe for live code cells (requires the repository to run on Binder)
  colab_url: https://colab.research.google.com  # The URL of Google Colab (https://colab.research.google.com)
  deepnote_url: "" # The URL of Deepnote (https://deepnote.com)
  
# Do not include these files in the build
exclude_patterns:
  - "**.ipynb_checkpoints"
  - "**README.md"
  - "_build"
  - "Thumbs.db"
  - ".DS_Store"

parse:
  myst_enable_extensions:  # default extensions to enable in the myst parser. See https://myst-parser.readthedocs.io/en/latest/using/syntax-optional.html
    - amsmath
    - colon_fence
    - deflist
    - dollarmath
    - html_admonition
    - html_image
    - linkify
    - replacements
    - smartquotes
    - substitution

sphinx:
  recursive_update: true
  extra_extensions:
   # - sphinx_tippy
    - sphinx_design
  config:
    html_extra_path: ['assets']
    html_theme: sphinx_book_theme
    templates_path: ["_templates"]
    html_last_updated_fmt: "%b %d, %Y"
    html_show_copyright: false
    html_js_files: 
    - https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js
    html_context:
      default_mode: light
    html_theme_options:
      # https://sphinx-book-theme.readthedocs.io/en/stable/reference.html
      # https://pydata-sphinx-theme.readthedocs.io/en/stable/user_guide/layout.html#references
      use_download_button: false
      use_issues_button: true
      use_repository_button: true
      repository_provider: github
      repository_url: https://github.com/Deltares-research/IDP-handbook
      announcement: ""
    suppress_warnings: ["mystnb.unknown_mime_type"]