[submodule "idp_handbook/notebooks/c3s-training-submodule-climate-indices"]
	path = idp_handbook/notebooks/c3s-training-submodule-climate-indices
	url = https://github.com/n-aleksandrova/c3s-training-submodule-climate-indices
